*{
    margin: 0;
    padding: 0;
}
.headerIndex{
    height: 15vh;
    width: 100%;
}

.mainIndex{
    min-height: 70vh;
    width: 100%;
}

.mainIndex div h1{
    height: 10%;
}

.mainIndex div h3{
    height: 10%;
}

.mainIndex div nav{
    height: 70%;
}

.footerIndex{
    min-height: 15vh;
    width: 100%;
}

#copyright{
    width: 100%;
}